
.receipt-note-wrapper{
  width: 950px;
  height: 1320px;
  margin: 0 auto 30px auto;
  padding: 24px 24px 24px 28px ;
  border: 1px solid #ccc;
}
input{
  border: none;
  padding: 4px 0 ;
}
.text-strong{
  font-weight: bolder;
  font-size: 17px;
}
.text-small{
  font-size: 14px;
}
/* Remove arrows from number input */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* head */
.head{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/* {{!-- thông tin cơ bản của phiếu --}} */
.title{
  text-align: center;
  margin-top: 88px;
}

.basic-if-receipt{
  display: grid;
  grid-template-columns: 1.3fr 1fr 1fr;
}


#receipt-date, #receipt-month, #date-law, #month-law,
#signature-date, #signature-month{
  width: 20px;
}
#receipt-year,#year-law, #signature-year{
  width: 40px;
}
#payable,#co{
  width: 100%;
}


/* {{!-- thông tin chi tiết của phiếu --}} */
.detail-if-receipt{
  margin-top: 24px;
}
#deliverer_name{
  width:720px
}
#according-law,#number-law{
  width: 90px;
}
#receive-warehouse-name,#receive-warehouse-place{
  width: 210px;
}
/* table/ */

table {
  border-collapse: collapse;
  width: 94%;
  margin: 15px;
}

table, th, td {
  border: 1px solid black;
  
}
th {
  padding: 10px;
  text-align: center;
}
tr input {
  width: 100%;
  text-align: center;
}

#total-price-string,#original-document-number-attached{
  width: 100%;
}

/* ký tên */
.date-signature{
  text-align: end;
  margin-top: 24px;
}

.signature{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  text-align: center;
}
#receipt-creator,#deliverer-name,
#storekeeper,#chief-accountant{
   width: 100%;
}
#receipt-creator::placeholder,#deliverer-name::placeholder,
#storekeeper::placeholder,#chief-accountant::placeholder,
#receipt-creator,#deliverer-name,#storekeeper,#chief-accountant,
.pattern-01,td{
   text-align: center;
}