<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>{{> page/nav}}</title>
        <style>
           * {
              box-sizing: border-box;
              margin: 0;
              padding: 0;
           }
           body {
              font-family: 'Arial', sans-serif;
              font-size: 15px;
              line-height: 1.6;
            }
        </style>
    </head>
    <body>
        {{{body}}}
    </body>
</html>
